:root {
  --dark-blue: #002f4c;
  --light-blue: #d0e6f3;
  --gold: #ffd90021;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-logo {
  height: 10rem;
  margin-top: 10rem;
  transition: filter 500ms linear;
}

.game-logo:hover {
  filter: drop-shadow(0 0 2em var(--gold));
}

.cover-text {
  max-width: 40rem;
  font-size: 1.5rem;
}
