@font-face {
  font-family: 'Crimson';
  src: url('./assets/fonts/Crimson.ttf') format('truetype');
}

@font-face {
  font-family: 'Norse';
  src: url('./assets/fonts/Norse.ttf') format('truetype');
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Norse';
  font-weight: 400;
  --dark-blue: #002f4c;
  --light-blue: #d0e6f3;
  --gold: #ffd700;
}

body {
  margin: 0;
  height: 100vh;
  padding: 1rem;
  background-color: var(--light-blue);
}

p {
  margin: 0;
  font-family: 'Crimson';
}

h1 {
  font-size: 7rem;
  line-height: 1.1;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
}

.start {
  border-radius: 8px;
  margin-top: 2rem;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s;
  transition-property: border-color, color;
}

button:hover {
  border-color: var(--gold);
  color: var(--gold);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--gold);
}

footer {
  margin-top: 3rem;
  width: 100vw;
  padding: 1rem;
  background-color: var(--dark-blue);
  color: var(--gold);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  width: 3rem;
  transition: 400ms ease-in-out;
}

a:hover {
  transform: rotate(1080deg);
}
